[user]
  name = Boston Dell-Vandenberg
  email = hello@bostondv.com
  signingkey = 1281E8F432BDBAD9
[commit]
  gpgsign = true
[core]
  excludesfile = ~/.gitignore.global
[include]
  path = ~/.config/git/aliases.txt
