"*":
  "atom-beautify":
    html:
      indent_size: 2
      preserve_newlines: false
  "autocomplete-paths":
    ignoreSubmodules: true
    maxFileCount: 10000
  core:
    disabledPackages: [
      "linter"
      "atom-typescript"
      "file-icons"
      "linter-eslint"
      "linter-js-standard"
      "linter-ruby"
      "linter-ui-default"
      "pigments"
      "vim-mode-plus"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "cobalt2-syntax"
    ]
  editor:
    fontFamily: "\"Source Code Pro\""
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "file-icons":
    coloured: false
    onChanges: true
  "language-babel":
    taggedTemplateGrammar: [
      "\"(?<=<style jsx>{)|(?<=<style jsx global>{)\":source.css.styled"
    ]
  "one-dark-ui": {}
  "one-light-ui":
    layoutMode: "Compact"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierOptions:
      bracketSpacing: false
      semi: false
      singleQuote: true
    useEslint: true
  tabs:
    enableVcsColoring: true
  themes: [
    "one-dark-ui"
    "cobalt2-syntax"
  ]
  "tree-view": {}
  "vim-mode-plus":
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
  welcome:
    showOnStartup: false
